@import "~bootstrap/scss/bootstrap.scss";
body {
    background: linear-gradient(to right, #7d95cd, #dbb5d6 );
}

#header {
    position: fixed;
    top: 25%;
    left: 0;
    bottom: 25%;
    z-index: 9997;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
  }
  @media (max-width: 992px) {
    #header {
      width: 300px;
      background: #fff;
      border-right: 1px solid #e6e9ec;
      left: -300px;
    }
  }
  
  @media (min-width: 992px) {
    #main {
      margin-left: 100px;
    }
  }
.nav-menu {
    padding: 0;
    display: block;
  }
  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
  }
  .nav-menu a, .nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #45505b;
    padding: 10px 18px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    backdrop-filter: contrast(-1);
  }
  .nav-menu a i, .nav-menu a:focus i {
    font-size: 20px;
  }
  .nav-menu a span, .nav-menu a:focus span {
    padding: 0 5px 0 7px;
    color: #45505b;
  }
  @media (min-width: 992px) {
    .nav-menu a, .nav-menu a:focus {
      width: 56px;
    }
    .nav-menu a span, .nav-menu a:focus span {
      display: none;
      color: #fff;
    }
  }
  .nav-menu a:hover, .nav-menu .active, .nav-menu .active:focus, .nav-menu li:hover > a {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    backdrop-filter: contrast(-1);
  }
  .nav-menu a:hover span, .nav-menu .active span, .nav-menu .active:focus span, .nav-menu li:hover > a span {
    color: #fff;
  }
  .nav-menu a:hover, .nav-menu li:hover > a {
    width: 100%;
    color: #fff;
  }
  .nav-menu a:hover span, .nav-menu li:hover > a span {
    display: block;
  }
  